.img {
  height: 700px;
  width: 315px;
  margin-left: 60px;
  margin-right: 60px;
  border-image: 10px;
}

body {
  background: linear-gradient(#eee, #eea2a2);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.goat {
  height: 700px;
  width: 315px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
}

.container {
  display: flex;
  text-align: center;
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
}

.postBoardContainer {
  flex-flow: wrap;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.postContainer {
  border: solid;
  padding: 5px;
  display: grid;
  margin: 1.25rem;
  background-color: beige;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 50rem;
  height: 15rem;
}

.postMessage {
  grid-area: 1 / 1 / 2 / 4;
  font-size: 20px;
}

.postAuthor {
  grid-area: 2 / 3 / 3 / 4;
  font-size: 30px;
  font-style: italic;
  font-family: Helvetica;
}

.postImage {
  max-width: 15rem;
  max-height: 15rem;
  grid-area: 1 / 4 / 3 / 5;
}

.boardHeading {
  text-align: center;
}
.submit {
  text-align: center;
}
