.img {
  height: 800px;
  width: 360px;
  margin-left: 60px;
  margin-right: 60px;
  border-image: 10px;
}

body {
  background-color: grey;
}

.goat {
  height: 800px;
  width: 360px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
}

.container {
  display: flex;
  text-align: center;
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
}
